<footer class="footer-basic-centered">
  <p class="footer-app-name"><%= t("footer.app_name") %></p>
  <p class="footer-links">    
    <%= link_to t("footer.home"), "#" %>
    <%= link_to t("footer.help"), "#" %>
    <%= link_to t("footer.about"), "#" %>
    <%= link_to t("footer.contact"), "#" %>
    <%= link_to t("footer.faq"), "#" %>
  </p>
  <p class="footer-company-name"><%= t("footer.company_name") %> &copy; 2015</p>
</footer>
